# Ignorar cache de Visual Studio
.vs/

# Ignorar binarios y temporales de compilacion
**/bin/
**/obj/

# Archivos de caché o temporales de paquetes NuGet
*.nuget.g.props
*.nuget.g.targets

Metin2Bot/config/appsettings.json